body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}


.container {
    border: solid 3px purple;
    border-radius: 10px;
    text-align: center;
    width: 400px;
    height: 200px;
}

button {
    padding: 10px 80px;
    font-size: 1.3em;
    font-weight: 500;
    color: white;
    background-color: rgb(164, 113, 212);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.25s;
    margin-bottom: 20px;
}

button:hover {
    background-color: rgb(44, 25, 62);
}

#numbers {
    font-size: 2em;
    text-align: center;
    color: rgb(123, 84, 200);
    position: relative;
    bottom: 12px;
}
#prevNumbers{
    font-size: 20px;
    position: relative;
    bottom: 16px;
    text-align: center;
    color: black;
}